.page-auth
  .ivu-tabs-nav
    &::after
      display none
  .ivu-tabs-tab
    padding-left 24px
    padding-right @padding-left
  .ivu-form-item-content
    .ivu-input-icon
      left 0
      right auto
  .ivu-input
    padding-left 32px
    padding-right 7px
